*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.nav-bar {
    color: black;
    background-color: aqua;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    border: 2px solid grey;
    box-shadow: 0 0 50px rgb(0, 34, 255);
    width: 100rem;
    height: 100px;

}

.name{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
